.important {
    color: red;
  }
  
  .unimportant {
    color: blue;
  }

  .underline {
    text-underline-position: below;
    text-decoration-line: underline;
  }

  h1{
    color: darkblue;
    size-adjust: 20%;
    text-decoration-color: rgb(255, 0, 0);
    background-color: darkslategray;
    background-size: auto;
    font-weight: 400;
  }

 
  
