.important {
    color: red;
  }
  
  .unimportant {
    color: blue;
  }

  .underline {
    text-underline-position: below;
    text-decoration-line: underline;
  }

  h1{
    color: darkblue;
    size-adjust: 20%;
  }

  h2{
    font-style: inherit;
  }

  h3{
    background-color: darkslategray;
    background-size: auto;
  }
